html, body, *{
    box-sizing: border-box;
    margin: 2;
    padding: 0;
    font-family: 'Bungee', cursive;
    background-color: #766aac
}
/* body{
    font-family: 'Bungee', cursive;
    background-color: #766aac
} */
.background{
    background-color: #766aac;
    height: 100%;
    color: #fff59c;
}