html, body, *{
    box-sizing: border-box;
    margin: 2;
    padding: 0;
    font-family: 'Bungee', cursive;
    background-color:  #3b4267;

} 
.background{
    background-color: #3b4267;
    height: 100%;
    color: #333340;
}
#triangle-topleft{
    clip-path: polygon(0 0, 0 200%, 50% 0);
    background-color: #C0C0CC;
  }
  h2{
    background-color: #C0C0CC;
  }

