
{% extends 'base.html' %}
{% block content %}
   
   
    <div id = "triangle-topleft">
     <h2>{{variable.json()['data']['title_japanese']}}</h2> 
      <img class = "image" src="{{variable.json()['data']['images']['jpg']['image_url']}}"> <!-- image for anime --></div>
 
    <p>Popularity:{{variable.json()['data']['popularity']}}
      Score:{{variable.json()['data']['score']}}
    </p>
    <p>{{variable.json()['data']['synopsis']}}</p>
    </div>

</div>
{% endblock %}
<!-- <h2>{{variable.json()['data']}}</h2> -->