
{% extends 'base.html' %}
{% block content %}
   
          
    
     <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Search...">
       <button>Search</button>
    </form>

      <h1>Top Anime: Hall of fame</h1>
    {% for thing in top.json()['data']%}
      <p><A href='/{{thing["mal_id"]}}'>{{thing['title_english']}}</A></p> 
      <img src="{{thing['images']['jpg']['image_url']}}">
      
    {% endfor %}
  
    </div>
  {% endblock %}
      
  
     
   
  
  


  
</div>


