
{% extends 'base.html' %}
{% block content %}
   
          
    
     <form id="form"> 
        <input type="search" id="query" name="q" placeholder="Search...">
       <button>Search</button>
    </form>
    <h2> Genres: 
    {% for thing in genres.json()['data'] %}
    {{thing['name']}},
    {% endfor %}
    </h2>
      <h1>Top Anime: Hall of fame</h1>
      <div class="flex-container">
        
        {% for thing in top.json()['data']%}
        <div class ="card"></div>
        <p><A href='/{{thing["mal_id"]}}'>{{thing['title_english']}}</A></p> 
         <img src="{{thing['images']['jpg']['image_url']}}">  
        {% endfor %}   
        </div>

  {% endblock %}